<div class="card">
  <div class="card-header">{{ trip.name }}</div>
  <img src="assets/images/{{ trip.image }}" alt="trip thumbnail" class="card-img-top">
  <div class="card-body">
    <h6 class="card-subtitle mt-3 mb-3 text-muted">
      {{ trip.resort }}
    </h6>
    <p class="card-subtitle mt-3 mb-3 text-muted">
      <span *ngIf="isValidPrice(); else invalidPrice">
        {{ trip.perPerson | currency:'USD':'symbol' }} per person
      </span>
      <ng-template #invalidPrice>
        <span>Price unavailable</span>
      </ng-template>
    </p>
    <p class="card-text" [innerHTML]="trip.description"></p>


    <div *ngIf="isLoggedIn()">
      <button (click)="editTrip(trip)" class="btn btn-primary">Edit Trip</button>
      <button (click)="addTrip()" class="btn btn-success">Add Trip</button>
    </div>
  </div>
</div>
